<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frequency Input Form</title>
</head>
<body>
  <h2>Input Parameters</h2>
  <form action="/calculate" method="POST">
    <label for="R">R (Ohms):</label><br>
    <input type="text" id="R" name="R"><br><br>

    <label for="C">C (Farads):</label><br>
    <input type="text" id="C" name="C"><br><br>

    <label for="PWM_FREQ">PWM Frequency (Hz):</label><br>
    <input type="text" id="PWM_FREQ" name="PWM_FREQ"><br><br>

    <label for="frequency_table">Frequencies [[440, 0.5], [880,0.5]]:</label><br>
    <textarea id="frequency_table" name="frequency_table" rows="5" cols="50"></textarea><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>
